<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- <style>
    .todo-list {
      display: inline-block;
      width: 33%
    }
  </style> -->
</head>

<body>
  <div id="app">
    <h1>John의 Todo 앱</h1>
    <todo-list category="취업준비"></todo-list>
    <todo-list category="SSAFY"></todo-list>
    <todo-list category="기타"></todo-list>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>
    Vue.component('todo-list', {
      template: `
      <div class="todo-list">
        <h2>{{ category }}</h2>
        <input v-model="newTodo" type="text" @keyup.enter="addTodo">
        <button @click="addTodo">+</button>
        <li v-for="todo in todos" :key="todo.id">
          <span>{{ todo.content }}</span>
          <button @click="removeTodo(todo.id)">x</button>
        </li>
        <button @click="changeColor">toggle</button>
        <p id="baro" :style="{color: colorVar}">빨강과 파랑을 섞으면 보라가 됩니다.</p>
      </div>
      `,
      props: {
        category: {
          type: String,
          required: true,
          validator: function (value) {
            if (value.length !== 0) {
              return true
            } else {
              return false
            }
          }
        }
      },
      data: function () {
        return {
          todos: [],
          newTodo: '',
          colorVar: 'red',
        }
      },
      methods: {
        addTodo: function () {
          if (this.newTodo.length != 0) {
            this.todos.push({
              id: Date.now(),
              content: this.newTodo,
              completed: false,
            })
            this.newTodo = ''
          }
        },
        removeTodo: function (todoId) {
          this.todos = this.todos.filter((todo) => {
            return todo.id !== todoId
          })
        },
        changeColor: function(tag) {
          if (this.colorVar == 'red'){
            this.colorVar = 'blue'
          }
          else {
            this.colorVar = 'red'
          }
        },
      },
    })
  </script>

  <script>
    const app = new Vue({
      el: '#app',
    })
  </script>
</body>

</html>