ol {
  background-color: blanchedalmond
}

ol > li {
  color: blue
}

ol > li:nth-child(6) {
  color: red
}

ol > li:nth-last-child(6) {
  color: blueviolet
}

#ssafy > p:nth-child(2) {
  color : red;
}

#ssafy > p:nth-of-type(2) {
  color :salmon;
}

div > h1 {
  color: bisque;
}

div span {
  color: black;
}