<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue ToDo</title>
  <style>
    .completed {
      text-decoration: line-through;
      opacity: 0.6;
    }

  </style>
</head>
<body>
  <div id="app">
    <h1>Vue ToDo</h1>
    <button @click="clearCompleted">완료목록 전체삭제</button>
    <img :src="imgSrc">  
    <input type="text" v-model="newTodo" @keydown.enter="addTodo">
    <button @click="addTodo">+</button>
    <select v-model="status">
      <option value="all" selected>전체보기</option>
      <option value="active">진행중</option>
      <option value="completed">완료</option>
    </select>
    <ul>
      <li :class="{completed: todo.completed}" v-for="todo in todoByStatus" @click="check(todo)" :key="todo.id">
        <input type="checkbox" v-model="todo.completed">
        {{ todo.content }}
        {{ todo.completed }}
      </li>
    </ul>
    <!-- <p>{{ newTodo.split('').reverse().join('') }}</p> -->
    <p>{{ reversedNewTodo }}</p>
  </div>
  

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
  // chrome의 local storage를 활용할 건데....
  const STORAGE_KEY = 'vue-todos'
  const todoStorage = {
    fetch() { // read
      return JSON.parse(localStorage.getItem(STORAGE_KEY)) || []
    },
    save: function(todos) { // create
      // localStorage에 데이터를 저장하는 친구
      return localStorage.setItem(STORAGE_KEY, JSON.stringify(todos))
    },
  }

  // M (V VM)
  const app = new Vue({
    el: '#app',
    data: {
      todos: todoStorage.fetch(),
      // [
      //   { id: 1, content: '꽃 사서 배달시키기', completed: true },
      //   { id: 2, content: 'IR 자료 만들기', completed: false },
      //   { id: 3, content: '과목평가 문제 검토하기', completed: false },
      //   { id: 4, content: '프로젝트 명세 검토하기', completed: false },
      // ], 
      imgSrc: 'https://joshua1988.github.io/images/posts/web/vuejs/logo.png',
      newTodo: '',
      status: 'all', // all 다 보여주기, completed 완료된 것만, active 완료 안된 것만
    },
    methods: {
      // check: function() {}
      check(todo) {
        todo.completed = !todo.completed
      },
      addTodo() {
        if (this.newTodo.length != 0) {
          this.todos.push({
          id: Date.now(),
          content: this.newTodo,
          completed: false,
          })
          this.newTodo = ''
        }
      },
      clearCompleted() {
        // 뭐만 남기면 될까? completed가 false인 값만 남긴다.
        const notCompleted = this.todos.filter(function (todo) {
          return !todo.completed
        })
        this.todos = notCompleted
      },
    },
    computed: {
      reversedNewTodo: function() {
        return this.newTodo.split('').reverse().join('')
      },
      todoByStatus() {
        // 진행 중인 일(active)
        if (this.status === 'active') {
          return this.todos.filter(function (todo) {
            return !todo.completed
          })
        }
        // 완료된 일(completed)
        if (this.status === 'completed') {
          return this.todos.filter(function (todo) {
            return todo.completed
          })
        }

        return this.todos
  
      }
    },
    watch: {
      todos: {
        handler() {
          todoStorage.save(this.todos)
        },
        // object안의 object까지 모두 다 복사해라(deepcopy)
        deep: true,
      }
    },
  })

  </script>
</body>
</html>